@media screen and (min-width: 768px) {
  /* COMPONENTS */
  .container {
    width: 768px;
  }
  /* HEADER */
  .btn-menu-open {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .logo-light-background {
    margin-right: 120px;
  }
  .page-menu {
    display: flex;
    align-items: center;
  }
  .address {
    margin-left: auto;
  }
  .menu-item:not(:last-child) {
    margin-right: 40px;
  }
  .address-item:not(:last-child) {
    margin-bottom: 6px;
  }
  .menu-link {
    position: relative;
    display: block;

    color: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;

    padding: 24px 0 22px 0;
  }
  .menu-link.current {
    color: var(--primary-color-accent);
  }
  .menu-link.current::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -2px;

    width: 100%;
    height: 4px;
    background: var(--primary-color-accent);
    border-radius: 2px;
  }
  .address-list {
    display: block;
  }
  .address-link {
    display: block;
    font-style: normal;
    transition: color var(--transition-dur-and-func);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .address-link:hover,
  .address-link:focus {
    color: var(--primary-color-accent);
  }
  /* HERO */
  .page-hero {
    padding-top: 112px;
    padding-bottom: 108px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 42px;
  }
  /* ADVANTAGES */
  .advantages-list {
    gap: 72px 24px;
  }
  .advantages-item {
    flex-basis: calc((100% - var(--card-set-gap)) / 2);
    align-items: flex-start;
  }
  /* TEAM */
  .team-list {
    gap: 64px 24px;
  }
  /* CUSTOMERS */
  .customers-list {
    gap: 72px 24px;
  }
  .customers-link {
    width: 168px;
  }
  .customers-icon {
    width: 104px;
  }
  /* PROJECTS */
  .page-projects {
    padding-top: 64px;
  }
  .projects-filtr {
    justify-content: center;
    margin-bottom: 64px;
  }
  .projects-button {
    padding: 12px 24px;
  }
  .projects-objects {
    gap: 72px 24px;
    justify-content: flex-start;
  }
  .projects-cards {
    flex-basis: calc((100% - 24px) / 2);
  }
  /* FOOTER */
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 108px;
  }
  .footer-about {
    display: block;
    margin-bottom: 72px;
    margin-right: 24px;
  }
  .social-link-footer {
    display: block;
    margin-bottom: 0;
  }
  .footer-form {
    display: block;
  }
  .footer-form-input {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }
  .footer-form-place {
    flex-direction: row;
  }
  .footer-text {
    width: 264px;
  }
  .modal {
    width: 408px;
    height: 586px;
  }
}
